body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
   
    background: url('/insta/backwood.jpg');
    background-size:cover;
    text-shadow:3px 3px 3px rgb(247, 247, 247);
    color:rgb(17, 17, 17);
  }
 .proj-title1{
     font-size: 35px;
     color: rgb(255, 255, 255);
     text-shadow:3px 3px 3px rgb(0, 0, 0);
     
 } 

  
  li{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 10px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:20px;
   
  }
  
  
  li:hover{
    top:0px;
    opacity:0.7;
  }
  
  li:nth-child(1){
      transform:rotate(4deg);
  }
  
  li:nth-child(2){
      transform:rotate(2deg);
  }
  
  li:nth-child(3){
      transform:rotate(-10deg);
  }
  
  li:nth-child(4){
      transform:rotate(15deg);
  }
  li:nth-child(5){
    transform:rotate(5deg);

}
li:nth-child(6){
    transform:rotate(-5deg);

}
li:nth-child(7){
    transform:rotate(-9deg);

}
li:nth-child(8){
    transform:rotate(-3deg);

}
li:nth-child(9){
    transform:rotate(-10deg);

}
li:nth-child(10){
    transform:rotate(6deg);

}
li:nth-child(11){
    transform:rotate(20deg);

}
li:nth-child(12){
    transform:rotate(12deg);

}
  p{
    margin:-5px 0 0 0;
  }
  
  .insta{
    font-size:30px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
  }
  .back{
      background: transparent;
      border: none;
      color:white;
  }