button:focus{
    outline:0px;
    }
  .title{
    background-image: url("/static/back1.jpg");
    background-color: rgb(10, 10, 9);
    opacity:0.9 ;
    border-radius:20px;
  }
  .next{
    background-image: url("/static/b2.jpg");
    background-color: coral;
    border-radius:10px;
  }
  #proj{
    background-image: url("/static/b3.gif");
    border-radius:10px;
  }
  .deconstructed {
    position: relative;
    margin: auto;
    height: 40px;
    color: transparent;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
  }
  
  .deconstructed > div {
    position: absolute;
    padding:5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
 
    color: #f3f5f3;
    text-shadow:5px 5px 5px chartreuse;
    border-radius: 10px;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 10s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 10s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 10s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 10s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }
.projects{
    
    color:black;
    padding:15px;
    height:auto;
    

  
}
.topnav {
    position: relative;
  
    color: rgb(236, 230, 230);
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(238, 236, 236);
    padding: 10px 2px;
    text-decoration: none;
    font-size: 15px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background-color:transparent;
    color:white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding:12px;
    font-size:inherit;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: transparent;
    color: rgb(236, 221, 0);
    border-radius: 10px;
  }
  
  /* Style the active link (or home/logo) */
  
  
  .name{
      font-size:25px;
      padding:10px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       color:rgb(252, 247, 0);
      
  }
  textarea {
    overflow: hidden;
    opacity: 1;
  }
  .content{
    background-color: rgba(236, 132, 189, 0);
    height:170px;
    padding:5px;
    margin: 10px;
    margin-bottom:10px;
    border-radius:20px;
    opacity:0.9;
    
  }
  .content1{
  
    
    padding:5px;
    height:370px;
    border-radius:70px;
    opacity:1;
    margin-left:10px;
    margin-right:10px;

    
  }

.dp{
    width:300px;
    height:300px;
    border: 3px 3px 3px solid rgb(231, 229, 229);;
    box-shadow:2px 2px 12px;
    padding:2px;
    border-radius: 250px;
    
}
.bio{
  color:rgb(255, 255, 255);
  background-color:transparent;
  margin-left:auto;
  border: transparent;
  outline: 0;
  height:200px;
  width:270px;
  bottom:50px;
  padding-left:20px;
  padding-top:50px;
  padding-bottom: 100px;
  font-style: italic;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  resize:none;
  
}
.bio1{
    color:rgb(255, 255, 255);
    background-color:transparent;
    margin-left:auto;
    border: transparent;
    outline: 0;
    height:200px;
    width:270px;
    bottom:50px;
    padding-left:20px;
    padding-top:50px;
    padding-bottom: 100px;
    font-style: italic;
    font-size: 21px;
    text-shadow: 2px 2px 2px gold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    resize:none;
    animation: an 1s ease-out 1 both;
    animation-duration:10s;
    display: inline-block;
    
}
.details{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(252, 222, 88, 0.911);
  text-shadow: 3px 3px 3px blanchedalmond;
 
}
.pro-img{
  width:100px;
  height:100px;
  border-radius:200px;
  padding:5px;
  margin-left: 10px;
 box-shadow: 10px 10px 10px rgb(123, 243, 129);
}
a {text-decoration: none;
color:rgb(255, 238, 2);}
.ttitle{
  color:cornsilk;
  text-shadow: 2px 2px 2px;
  
}
.t1{
  width:50px;
  color:black;
  background-color: rgb(12, 14, 12);
  border-radius:5px;
  padding:10px;
  margin-top:10px;
  margin-left:10px;
  text-decoration: none;
}
.t1git{
  font-size:35px;
  width:30px;

  padding:3px;
  border-radius:80px;
  margin-left:2px;
  
}

.proj-title{
 text-shadow: 5px 5px 5px rgb(241, 95, 95);
 color:white;
 padding:20px;
 width:200px;
 margin-bottom:10px;
 border-radius: 10px;
 animation-name: example;
 animation-duration: 30s;
}

@keyframes example {
  0%   {text-shadow:5px 5px 5px rgb(243, 114, 237);
  color: rgb(252, 252, 252);}
  25%  {text-shadow:5px 5px 5px rgb(128, 212, 238);
  color:rgb(255, 255, 255) ;}
  75%  {text-shadow:5px 5px 5px rgb(218, 245, 154);
  color: rgb(255, 255, 255);}
  50%  {text-shadow:5px 5px 5px rgb(243, 140, 140);
  color:  rgb(255, 255, 255);}
  100% {text-shadow:5px 5px 5px rgb(255, 255, 255);}
}
#container {
  color:rgb(238, 255, 0);
  text-transform: uppercase;
  font-size:36px;
  text-shadow:2px 2px 2px black;
  font-weight:bold;
  padding-top:100px;  
  position:relative;
  width:100%;
  bottom:45%;
 
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:rgb(255, 255, 255);
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#51b7df;
}
#flip div:first-child div {
  background:#5ef705;
}
#flip div:last-child div {
  background:#f3486a;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:270px;}
}
.link{

  position: absolute;
 
}

.center{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height:auto;
}

p{
  word-break: break-all;
 
  box-shadow:10px 10px 10px cornsilk;
  border-radius:20px;
  padding:15px;
  width: 70%;
  font-size: 10px;
  display: block;
  color: rgb(255, 255, 255);
 
}

.char{
  font-size: 20px;
  letter-spacing:1px;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 20px;
  animation: an 1s ease-out 1 both;
  animation-duration:25s;
  display: inline-block;
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 45deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}

html {
  scroll-behavior: smooth;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:auto;
  border-radius: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next1:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0e0c0c;
  background-color: aliceblue;
  font-style:bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;

  margin-bottom:10px;
  bottom: 8px;
  width:97.5%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.ph{
  width:100%;
  height:500px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
.bottom{
  background-image: url("/static/b.jpg");
  background-color: rgb(172, 248, 242);
  border-radius: 10px;

}
.proj-title1{
  text-shadow: 5px 5px 5px rgb(241, 95, 95);
  color:rgb(255, 244, 244);
  padding:20px;
  width:200px;
  margin-bottom:10px;
  border-radius: 10px;
  
 }
 .insta{
   font-size:30px;
   color:rgb(255, 254, 254);
   text-shadow: 2px 2px 2px gold;
 }
 .social{
   font-size: 30px;
   color: rgb(255, 255, 255);
 }
#contact{
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow:2px 2px 2px rgb(251, 255, 0);
}
.loading img {
  width: 100%;
  top: 50%;
	left: 50%;
  position: absolute;
	transform: translate(-50%, -50%);
}
.full{
  display: none;
}