<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ram sankar S</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
    <script src="static/js/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body >

  <div class="loading">
    <img src="static/loading.gif">
  </div>
<div class="full">
  <div class="title">
        <div class="topnav">
          <center><div class="deconstructed">
            JAXfolio
            <div> JAXfolio</div>
            <div>JAXfolio</div>
            <div> JAXfolio</div>
            <div> JAXfolio</div>
            <audio id="audio" src="static/kb.mp3"></audio>
          </div></center>
            <div id="myLinks">
              <a href="#proj">Projects</a>
              <a href="#blog">Writings</a>
              <a href="#contact">Contact</a>
              <a href="#photos">Snaps by me</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="content">
          <center><textarea class="bio" cols="50" rows="10" readonly>"You have good days, you have bad days.But dont forget to smile and make others happy".</textarea></center>
          </div>
          <div class="details">
            <center><img class="dp" src="static/ramdp.jpg"></center>
           <center>
            <h1 class="details">I am
              <span
                 class="txt-rotate"
                 data-period="2000"
                 data-rotate='[ "Ram sankar.S", "problem solver", "optimistic", "a learning developer", "a funny being"," a photographer" ]'></span>
            </h1>
           </center> 
          </div>
        </div>
      <div class="next">
        <div class="content1">
          <center><textarea class="bio1" cols="50" rows="50" readonly>"Student from thiagarajar college of engineering,soon to be a engineering graduate(Mechatronics)"

"Schooling @Kamaraj matriculation higher secondary school"

"SSLC percentage: 98.8%"
"HSC percentage: 93.5%"
</textarea></center></div>
       
    </div>
    <div id="proj">
      <div class="projects">
        <center><h1 class="proj-title">PROJECTS</h1></center> 
        <center><img src="static/covidbot.jpg" class="pro-img"></center>
        <center><h1 class="ttitle">Corona chatbot project</h1></center>
        <center><div class="t1"><a href="https://covibot.pythonanywhere.com/">Demo</a></div></center> 
        <center><div class="t1git"><a href="https://github.com"><i class="fa fa-github"></i></a></div></center>
       </div>
       <div id="blog">
         <center><div class="center">
          <p id="text">Hi,buddies everyone has their own dreams to achieve,same
like that my parents has some dreams about me to become a doctor,
but i had some other interests in the area of engineering.<br>
During my college days,in my first semester,
I had a thought that we should study well and get 9.(something)CGPA and also get into a company,soon that interest get lagged(means of CGPA) and i got puzzled and then i realized that CGPA doesnt matters.(Important is the SKILLSET you have).Then, i started to learn programming in the third semester ending and started love programming(Note that I am a Biology student in HSC),Then i started to learn some web frameworks and started to do some projects in django.First of all my sincere thanks to Mr.Navin Reddy(Founder and CEO of TELUSKO) to make awesome tutorials and make me to love programming</p>
      </div></center> 
    </div>
</div>
 <div class="bottom">
  <div id="photos">
    <center><h1 class="proj-title1">Snaps gallery</h1></center> 
     <div class="slideshow-container">
  
      
       <div class="mySlides fade">
       <!-- <div class="numbertext">1 / 3</div>-->
         <center><img src="static/insta/i1.jpg" class="ph"></center>
         <div class="text">Ant life</div>
       </div>
     
       <div class="mySlides fade">
         <center><img src="static/insta/i2.jpg" class="ph"></center>
         <div class="text">Basket ball</div>
       </div>
     
       <div class="mySlides fade">
         <center><img src="static/insta/i3.jpg" class="ph" ></center>
         <div class="text">bird cage</div>
       </div>
       <div class="mySlides fade">
        <!-- <div class="numbertext">1 / 3</div>-->
          <center><img src="static/insta/i4.jpg" class="ph"></center>
          <div class="text">centipede</div>
        </div>
        <div class="mySlides fade">
          <!-- <div class="numbertext">1 / 3</div>-->
            <center><img src="static/insta/i5.jpg" class="ph"></center>
            <div class="text">Snail</div>
          </div>
          <div class="mySlides fade">
            <!-- <div class="numbertext">1 / 3</div>-->
              <center><img src="static/insta/i6.jpg" class="ph"></center>
              <div class="text">Cat</div>
            </div>
            <div class="mySlides fade">
              <!-- <div class="numbertext">1 / 3</div>-->
                <center><img src="static/insta/i7.jpg" class="ph"></center>
                <div class="text">Grasshopper</div>
              </div>
              <div class="mySlides fade">
                <!-- <div class="numbertext">1 / 3</div>-->
                  <center><img src="static/insta/i8.jpg" class="ph"></center>
                  <div class="text">Village-life</div>
                </div>
                <div class="mySlides fade">
                  <!-- <div class="numbertext">1 / 3</div>-->
                    <center><img src="static/insta/i9.jpg" class="ph"></center>
                    <div class="text">Fish</div>
                  </div>
                  <div class="mySlides fade">
                    <!-- <div class="numbertext">1 / 3</div>-->
                      <center><img src="static/insta/i10.jpg" class="ph"></center>
                      <div class="text">Ant-love</div>
                    </div>
                    <div class="mySlides fade">
                      <!-- <div class="numbertext">1 / 3</div>-->
                        <center><img src="static/insta/i11.jpg" class="ph"></center>
                        <div class="text">Frog</div>
                      </div>

     </div>
     
     <center><a class="insta" href="https://instagram.com/phtographer_voice">More snaps @ <i class="fa fa-instagram"></i></a>
     </div></center>   
        <center>
          <div id=container>
            Save
            <div id=flip>
              <div><div>FARMERS</div></div>
              <div><div>WATER</div></div>
              <div><div>MONEY</div></div>
            </div>
            for life
          </div>
        </center>
        <div id="contact">
          <center><i class="fa fa-mobile">  +91 7397581665</i></center>
          <center><h1>Made with 🖤	from Ram sankar           </h1></center>
        </div>
  <div class="social">
    <center>
      <a href="https://www.instagram.com/jax_ram" class="social"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/ramsankars/" class="social"><i class="fa fa-linkedin"></i></a>
    </center>
     </div>
  </div>
</div>
<script src="static/js/main.js"></script>

</body>
</html>